AZURE_DOCUMENTINTELLIGENCE_SERVICE=""
AZURE_DOC_INTELLIGENCE_ENDPOINT=""
AZURE_DOC_INTELLIGENCE_KEY_REFERENCE=""
# AZURE_ENV_NAME="slmwrkshp1"
AZURE_LOCATION="eastus"
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4o-mini"
AZURE_OPENAI_EMB_DEPLOYMENT_NAME="text-embedding-3-small-2"
AZURE_OPENAI_EMB_MODEL_NAME="text-embedding-3-small-2"
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_GPT4V_DEPLOYMENT_NAME="gpt-4o"
AZURE_OPENAI_GPT4V_MODEL="gpt-4o"
AZURE_OPENAI_OPENAI_MODEL="gpt-4o-mini"
AZURE_OPENAI_SERVICE_NAME="nrthcntrus-sft-aisrv"
AZURE_RESOURCE_GROUP="rg"
AZURE_SUBSCRIPTION_ID="3f02-464f-a0ba-e3467e7d85e2"
AZURE_TENANT_ID="d300-468d-ac64-7eda0820b6d3"


AZURE_OPENAI_API_VERSION="2024-08-01-preview"

HF_HOME=""
DISABLE_MLFLOW_INTEGRATION='TRUE'